.flashcard-div {
    background-color: var(--secondary);
    position: absolute;
    width:50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 35px;
}

.flashcard-div-paragraphs {
    display: flex;
    position: absolute;
    top: 28%;
    left: 10%;
    width: 80%;
    height: 50%;
    color: var(--bgc);
}



.flashcard-div-paragraphs p {
    font-size: 18px;
    flex-basis: 50%;
    text-align: center;
}

@media only screen and (max-width: 950px) {
    .flashcard-div-paragraphs {
        flex-direction: column;
    }

    .flashcard-div-paragraphs p {
        flex-basis: 20%;
    }
}

.flashcard-div-paragraphs p span {
    font-weight: bold;
}

.flashcard-div-buttons {
    position: absolute;
    top: 52%;
    left: 10%;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.flashcard-div-buttons button {
    background-color: var(--bgc);
    color: var(--secondary);
}

.empty-list {
    display: flex;
    color: var(--bgc);
    justify-content: center;
    align-items: center;
}

.empty-list h3 {
    text-align: center;
    width: 80%;
    line-height: 40px;

}
