@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


/* dodac RWD */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgc: #6A5A63;
    --primary: #F87F83;
    --secondary: #EBEBEB;
}

html {
    font-family: Montserrat, sans-serif;
    color: var(--secondary);
}

body {
    background-color: var(--bgc);
}

button {
    background-color: var(--secondary);
    border: none;
    padding: 20px 0;
    border-radius: 35px;
    font-weight: bold;
    color: var(--bgc);
    font-size: 19px;
}

button:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--secondary);
}

ul li {
    list-style-type: none;
}

.return-btn {
    position: fixed;
    width: auto;
    padding: 10px 15px;
    bottom: 30px;
    right: 30px;
    font-size: 15px;
}